

.categories {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  position: relative;
}

.categories-product {
  display: flex;
  gap: 1rem;
}

.button-1 {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.button-2 {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}