:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 16px;
  background: #dcf1ff;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
}
